body {
  background-color: #222;
  color: #eee;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.box {
  background-color: #444;
  height: 200px;
  margin-top: 25px;
  padding: 10px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
}
.box h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}
.box h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  font-variant: small-caps;
}
#Lightbox {
  background-color: #444;
}
#Logout {
  text-align: center;
}
#LogoutBox {
  text-align: center;
  margin-top: 15px;
}
#Front {
  text-align: center;
  margin-top: 200px;
}
#FrontText {
  margin-bottom: 50px;
}
#Privacy {
  margin-top: 40px;
}
.login-close-text, .login-link-text {
  display: none;
}
#login-buttons {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -112px;
}
.accounts-dialog {
  background-color: #444;
  border-radius: 0px;
  border: none;
  color: white;
  margin: 0;
  padding-bottom: 30px;
}
.accounts-dialog label {
  font-weight: normal;
}
#login-buttons .login-button, .accounts-dialog .login-button {
  background-color: #8790b4;
  background-image: -moz-linear-gradient(top, #444, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
  background-image: -webkit-linear-gradient(top, #444, #222);
  background-image: -o-linear-gradient(top, #444, #222);
  background-image: linear-gradient(to bottom, #444, #222);
  background-repeat: repeat-x;
}
.accounts-dialog .error-message {
  color: white;
}
#login-dropdown-list {
  position: static;
}
a {
  color: white;
}
a:hover, a:focus {
  color: white;
}